/* These CSS rules apply to the <html>, <body>, and <div id="app"> HTML elements in index.html */
html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Continue building out the CSS styling for your Twiddler app below! We got you started by
providing a space for you to apply styles to your app's outermost HTML element - the #app itself. */
#app {
    background-color: white ;
    color: black;
}

h1 {
  padding-top: 2cm;
  display: flex;
  font-family: 'Dela Gothic One';
  align-self:end;
  justify-content:center;
}
h2 {
  display:flex;
  justify-content:center;
  margin-top:-.5cm;
}




#update-feed {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  margin-bottom: 10px;
  height:1cm;
  width:4cm;
  font-weight:bold;
  margin-top:-.2cm;

}

#contentcontainer {
  display: flex;
  flex-direction: row-reverse;
  flex-basis: 100%;
  flex:content;
  justify-content: center;
  padding-top: 0.2cm
}

#halfContainer{
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content:start;
}

#username {
  display:flex;
  margin-top: 0.2cm;
  justify-content: left;
  align-items: left;
  align-self: left;
  text-align: left;
  margin-left: 0.2cm;
  font-weight:bold;
}

#userNameInputField{
  display: flex;
  margin-top: 0.1cm;
  margin-bottom: 0.1cm;
  margin-left: 0.2cm;
  margin-right: 0.2cm;
  width: 4.5cm;
  text-align: start;
}

#inputlabel {
  font-weight:bold;
}

#inputMessage{
  display:flex;
  margin-top: 0.1cm;
  margin-bottom: 0.1cm;
  margin-left: 0.2cm;
  margin-right: 0.2cm;

  width: 4.5cm;
  justify-content: top;
  text-align: start;
  align-self: top;
  size:20cm;
  height:0.75cm;
}

#submitButton {
  display:flex;
  justify-items:center;
  text-align: center;
  /* align-items: center; */
  justify-content: center;
  justify-self: center;
  margin-bottom: 0.2cm;
  margin-top: 0.1cm;
  margin-left: 0.2cm;
  margin-right: 0.2cm;
  width: 3cm;
  font-weight:bold;
}

#tweetForm{
  background-color: lightblue;
  border: 2px solid black;
  border-radius:0.25cm;
  display: flex;
  flex-direction:column;
  align-items:center;
  margin-bottom: 0.4cm;
}

#friends {
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:start;
  font-weight:bold;
  text-align:left;
  vertical-align: top;
  padding-top: 0.4cm;
  background-color: lightblue;
  border: 2px solid black;
  border-radius:0.25cm;
  height: auto;
  width: auto;
}

ul.friendlist {
  justify-content:left;
  padding-left: 0.7cm;
  padding-right: 0.3cm;
  margin-top: 0.1cm;
  font-weight:200;
}


#feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:first;
  padding-bottom: 0.1cm;
  padding-top: 0cm;
  padding-left: 0.5cm;
  padding-right: 0.5cm;
  border-radius:0.25cm;
}



.tweet {
  display: grid;
  grid-template-columns: 65px auto auto 160px ;
  grid-template-rows:20px 45px 32px;
  grid-template-areas:
    "a a2 a2 a4 "
    "a b2 b2 b2 "
    "c1 c2 c3 c4 ";
  align-items:center;
  height: auto;
  width: 4.5in;
  margin-bottom: 20px;
  background-color: lightblue;
  border: 2px solid black;
  border-radius:0.25cm;
  justify-items: center;
}

.profile-photo {
  margin-top: 0.2cm;
  margin-left: 0.2cm;
  grid-area: a;
  align-self:start;
  justify-self: left;
  border: 0.5px solid black;
}

.timestamp {
  padding-top: 0.1cm;
  padding-right: 0.2cm;
  grid-area: a4;
  justify-self:right;
}

.username {
  padding-top: 0.2cm;
  padding-left: 0.2cm;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  align-self:start;
  font-weight:bold;
  justify-self: left;
}

.message{
  padding-top: 0.2cm;
  padding-left: 0.2cm;
  padding-right: 1cm;
  padding-bottom: 0.05cm;
  grid-area: b2;
  align-self:start;
  justify-self: left;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.fa-share-square {
  grid-area: c1;
  padding-bottom:0.1cm;
  align-self:end;
  justify-self:center;

}

.fa-comment {
  grid-area: c2;
  padding-bottom:0.1cm;
  align-self:end;
  justify-self:center;
  padding-right:0.4cm;
}

.fa-thumbs-up {
  grid-area: c3;
  padding-bottom:0.1cm;
  align-self:end;
  justify-self:center;

}

.fa-retweet {
  grid-area: c4;
  padding-bottom:0.1cm;
  align-self:end;
  justify-self:center;

}